@font-face {
  font-family: 'Helvetica Neue';
  src:
    url('../Assets/Fonts/HelveticaNeue.woff2') format('woff2'),
    url('../Assets/Fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src:
    url('../Assets/Fonts/HelveticaNeue-Light.woff2') format('woff2'),
    url('../Assets/Fonts/HelveticaNeue-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
