body {
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  padding: 0;
  text-align: left;
}

/** FONTS CLASSES----------------------------------- */
.titleBold {
  font: 16px/100% bold "Roboto Condensed", sans-serif;
  color: #000;
}

.featureTitle {
  font: 16px/16px bold "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  padding-bottom: 11px;
  color: rgba(3, 3, 3, 0.4);
}

.nTitle {
  font: 19px/19px bold "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d9d9d9;
}

.sectionTitle {
  font: 22px/22px, "Roboto Condensed", sans-serif;
  color: #f72210;
  padding-top: 25px;
  border-top: 1px solid #d9d9d9;
}

.featureTag {
  display: block;
  font: 17px/16px bold "Roboto Condensed", sans-serif;
  color: #f72210;
  padding: 8px 15px 9px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.bylineBold {
  font: 16px/100% bold "Roboto Condensed", sans-serif;
  color: #555;
}

.cultureTitle {
  font: 20px/22px "Lora", sans-serif;
  color: #272727;
  margin-bottom: 10px;
}

.cultureText {
  font: 15px/20px, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(39, 39, 39, 0.5);
  margin-bottom: 10px;
}

.tagsText {
  font: 13px/20px 300 "Helvetica Neue", Arial, sans-serif;
  color: #272727;
}

.paraNorm {
  font: 16px/100% normal;
  color: inherit;
}

/** HEADER-----------------------------------------*/
.header-bottom {
  border-bottom: 2px solid #f4f5f6;
}

.page-header {
  display: block;
  max-width: 1903px;
  z-index: 10;
}

.page-header .container {
  position: relative;
}

.page-header .container {
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/** Date & Sign in Buttons */
.header-top {
  background-color: #f72210;
  height: 95px;
  padding: 20px 10px 15px;
  position: relative;
  z-index: 2;
}

.header-date {
  display: block;
  margin-left: 10px;
  font: 16px/34px 'Roboto Condensed', sans-serif;
  color: white;
}

.header-buttons {
  padding: 0;
}

.header-buttons a {
  display: inline-block;
  font: bold 19px/11px 'Roboto Condensed', sans-serif;
  text-decoration: none;
  padding: 8px 10px 4px 12px;
}

.header-buttons a:first-child {
  color: #fff;
  margin-bottom: 4px;
}

.header-buttons a:last-child {
  color: #f72210;
  background-color: #fff;
  border-radius: 0;
  border: 0;

}

.header-buttons svg {
  display: inline-block;
  enable-background: new 0 0 8 14;
  fill: #f72210;
  width: 8px;
  height: 14px;
  margin-left: 10px;
  margin-bottom: 4px;
}

/** NewsWeek Masthead */
.header-logo {
  background-color: #f72210;
  position: absolute;
  transform: translate(-50%, 0);
  z-index: 3;
  top: 0;
  left: 50%;
  padding: 10px 15px;
}

.header-logo svg {
  display: block;
  enable-background: 0 0 295.6 60;
  fill: white;
  width: 396px;
  height: 60px;
  margin: 10px auto 0;
}

/** Navbar */
.header-bottom::before {
  display: block;
  width: 78px;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;

}

.header-bottom {
  width: 100%;
  padding: 15px 160px 15px 0;
  background-color: white !important;
}

.header-bottom .nav {
  width: 100%:
}

.header-bottom .container {
  position: absolute;
  top: 0;
}

.searchNav {
  position: absolute;
  width: 60px !important;
  height: 54px;
  top: 0;
  right: 102px;
  color: rgba(0, 0, 0, 0.55);
  background-color: white;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 0;
  border: none;
  border-radius: 0;
}

.searchNav:focus {
  box-shadow: none;
}

.search-icon {
  visibility: visible !important;
  position: absolute;
  right: 82px;
  top: 18px;
  background: url('../Assets/Img/icon-search-glass.svg') center/contain no-repeat white;
  width: 20px;
  height: 20px;
  font-size: 0;
}

.nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav-item:not(.nav-item1) {
  border-left: 1px solid #d9d9d9;
}

.nav-item a {
  display: block;
  font: bold 21px/24px 'Roboto Condensed', sans-serif;
  color: #000 !important;
  margin: 0;
  padding: 0;
}